.Rproj.user/
.Rhistory
.RData
.Ruserdata
renv/library/
renv/staging/
data/raw/*.csv
!data/raw/.gitkeep
data/processed/
models/model_artifacts/*.rds
!models/model_artifacts/.gitkeep
.DS_Store
__pycache__/
.venv/

.tools/
data/raw/*.csv
!data/raw/.gitkeep
data/synthetic/creditcard_synthetic.csv
data/raw/creditcard.csv
.tools/
